@import './Lato.scss';



/* Variables */

// Colors

$grey-blue-tr: #7d858eb3;
$grey-base : grey;
$grey-blue-1: #bfc9d4;
$grey-blue-2: #4A516B;
$grey-blue-3: #424756;
$grey-blue-4: #343B51;
$grey-blue-5: #272D42;

$light-green: #e0ffef;
$green-1: #0fcd82;
$green-2: #28a078;
$green-3: #238c69;

$blue-1: #53a4fe;
$blue-2: #4da1ff;

$grey-1: #f4f4f6;
$grey-2: #e3e8ee;
$grey-3: #4e566d;

$black: #000000;

$white: #ffffff;

$orange: #febb2c;

$red: #ff4451;

// Sizes

$navbar-height: 3rem;
$sidebar-width: 2.5rem; 
$sidebar-icon-size: 30px;


/* Mixins */

@mixin background($url, $size: cover, $position: center, $repeat: no-repeat){
    background-image: url($url);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin border($color: black, $style: solid, $width: 1px, $radius: 0){
    border: $width $style $color;
    border-radius: $radius;
}

@mixin flex($align-items: center, $justify-content: center, $flex-direction: row){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}


/* General Config */

*, *::after, *::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

img, svg{
    display: block;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

body{
    width: 100svw;
    height: 100svh;
    max-width: 100%;
    max-height: 100%;
}


/* Utilities */

// Text

.no-decoration{
    text-decoration: none;
    color: $black;
}

.elipsis{
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.ft-xs{
    font-size: 0.75rem;
}

.ft-sm{
    font-size: 0.875rem;
}

.ft-base{
    font-size: 1rem;
}

.ft-lg{
    font-size: 1.125rem;
}

.ft-underline{
    text-decoration: underline;
}

.wt-700{
    font-weight: 700;
}

// Colors

.ft-white{
    color: $white;
}

.ft-grey{
    color: $grey-3;
}

.ft-green{
    color: $green-2;
}

.bg-transparent{
    background-color: transparent;
}

.bg-orange{
    background-color: $orange;
}

.bg-grey{
    background-color: $grey-1;
}

.bg-dark-grey{
    background-color: $grey-2;
}

.bg-grey-tr{
    background-color: $grey-blue-tr;
}

.bg-light-green{
    background-color: $light-green;
}

.bg-green{
    background-color: $green-1;
}

.bg-red{
    background-color: $red;
}

.bg-dark-green{
    background-color: $green-2;
}

.bg-deep-green{
    background-color: $green-3;
}

.br-transparent{
    @include border(transparent);
}

.br-grey{
    @include border($grey-2);
}

.br-dark-grey{
    @include border($grey-3);
}

.br-green{
    @include border($green-1);
}

.br-dark-green{
    @include border($green-2);
}

.br-deep-green{
    @include border($green-3);
}


// SVG

.svg-icon{
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;

    &.sz-sm{
        width: 1.4rem;
        height: 1.4rem;
        padding: 0.2rem;
    }
}

// Position

.float-left{
    float: left;
}

.float-right{
    float: right;
}

// Input 

.text-input{
    border-radius: 0.5rem;
    border: 2px solid $grey-2;
    outline: none;

    &::placeholder{
        color: $grey-3;
    }

    &:focus{
        border-color: $blue-2;
    }
}

%dropdown-arrow{
    @include background('./assets/svg/dropdown-arrow.svg', contain);

    width: 0.5rem;
    height: 0.5rem;
}

.dropdown{
    @include flex(center, space-between);
    @include border($grey-blue-1, $radius: 0.25rem);

    position: relative;
    padding: 0.5rem 1.25rem 0.5rem 0.75rem;
    cursor: pointer;


    .dropdown-context{
        @include flex;

        
        flex-wrap: nowrap;
        gap: 0.25rem;
        color: $grey-3;
    }

    .dropdown-arrow{
        @extend %dropdown-arrow;
        
    }

    .dropdown-content{
        @include flex(flex-end, flex-start, column);
        @include border($grey-blue-1, $radius: 0.25rem);

        display: none;
        width: fit-content;
        padding: 0.625rem;
        background-color: $white;
        position: absolute;
        top: 150%;
        right: 0;
        z-index: 10;
        cursor: initial;

        .dropdown-content-header{
            display: inline-block;
            position: relative;
            transform: translateY(-0.5rem);
            font-size: 0.875rem;
            color: $grey-blue-3;
            font-weight: 600;
        }

        &::before{
            @include border($grey-blue-1);

            border-bottom-color: $white; 
            border-right-color: $white; 
            transform: translateX(-1rem) translateY(-1.125rem) rotate(45deg);
            display: inline-block;
            content: '';
            width: 1rem;
            height: 1rem;
            background-color: $white
        }
    }
}


.button{
    @include flex(center, center);

    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    outline: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition: all 200ms;

    .button-icon{
        width: 1rem;
        height: 1rem;

        &.sz-lg{
            width: 1.5rem;
            height: 1.5rem;
        }
    }


    &.pd-none{
        padding: 0;
    }

    &.pd-sm{
        padding: 0.375rem 0.625rem;
    }

    &.pd-xs{
        padding: 0.25rem 0.5rem;
    }

    &.pd-xxs{
        padding: 0.075rem 0.25rem;
    }

    &.pd-sq{
        padding: 0.75rem;
    }

    &.pd-sq-sm{
        padding: 0.25rem;
    }

    &.mr-right-sm{
        margin-right: 0.25rem;
    }
}

// Sizes

.br-dashed{
    border-style: dashed;
}

.br-soft{
    border-radius: 0.125rem;
}

.br-rounded{
    border-radius: 0.25rem;
}

.br-circle{
    border-radius: 100%;
}

// Cursor

.cr-blocked{
    cursor: not-allowed;
}

.cr-pointer{
    cursor: pointer;
}

/* Element styles */

// Navbar

.navbar{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: $navbar-height;
    width: 100%;
    background-color: $grey-blue-5;
    padding-left: $sidebar-width;

    .add-task-popup-btn{
        margin: 0.75rem;
    }
}


.navbar-route-context{
    @include flex;
    
    height: 100%;
    gap: 0.5rem;
    color: $white;
    padding-left: 8px;

    strong{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.2px;
        line-height: 25.7143px;
    }

    p{
        display: block;
        background-color: $grey-blue-3;
        width: 1px;
        height: 1rem;
    }

    div{
        width: 1rem;
        height: 1rem;

        @include background('./assets/images/globle-icon.png', contain);
    }

}



// Sidebar

.sidebar{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $grey-blue-2;
}

.sidebar-logo-box{
    display: inline-block;
    background-color: $grey-blue-4;
    height: $navbar-height;
    width: $sidebar-width;
    padding: 0.75rem 0.5rem;
}

.sidebar-logo{
    @include background('./assets/images/zoho-one.png', contain);
    width: 100%;
    height: 100%;
}

.sidebar-menu-box{
    width: 100%;
}

.sidebar-menu-list{
    width: 100%;
    margin-top: 5.5px;
    list-style: none;
}

.sidebar-menu-item{
    @include flex;
    width: 100%;
}

.sidebar-route-link{
    @extend .no-decoration;

    display: block;
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    padding: 7.5px;
    border-radius: 0.1875rem;

    
    div{
        width: 100%;
        height: 100%;
        
        &.sidebar-connect-icon{
            @include background('./assets/images/zoho-connect.png', contain);
        }
    }

    &.active{
        background-color: $white;
    }
}


// Main

.main{
 
    padding-left: $sidebar-width;
    padding-top: $navbar-height;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $grey-2;
}

// Home

.home{

    width: 100%;
    height: 100%;

    .home-box{
        margin: auto;
        margin-top: 10rem;
        max-width: 600px;
        height: fit-content;

        .home-image-box{
            margin: auto;
            width: fit-content;

        }

        h3{
            display: block;
            margin: auto;
            font-size: 1.25rem;
            width: fit-content;
        }

        p{
            display: block;
            margin: auto;
            margin-top: 1rem;
            text-align: center;
            color: $grey-base;
        }

        .button{
            margin: auto;
            margin-top: 1rem;

            &:hover{
                &.bg-dark-green{
                    background-color: $green-3;
                }
            }
        }
    }

}


// Popup

.popup-container{
    @include flex;

    position: fixed;
    top: $navbar-height;
    left: $sidebar-width;
    background-color: rgba(52, 65, 79, 0.8);
    width: calc(100% - #{$sidebar-width});
    height: calc(100% - #{$navbar-height});
}

.popup-wrapper{
    width: 700px;
}

.popup-header{
    display: inline-block;
    background-color: $green-1;
    color: $white;
    padding: 10px 15px 8px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.popup-model{
    position: relative;
    width: 100%;
    min-height: 350px;
    border-top: 0.25rem solid $green-1;
    background-color: $white;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.popup-close-button{
    position: absolute;
    top: 0;
    right: -8%;
}

// Connect new task popup

.connect-task-popup{
    @include flex(stretch);

    width: 100%;
}

// Connect new task popup left side part

.connect-task-popup-left{
    max-width: 480px;
    flex-grow: 2;
    padding: 35px 40px 20px;
}

.connect-task-popup-title{
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
}

.connect-task-popup-description{
    @include flex(center, flex-start);
    width: 100%;
    height: 2.375rem;
    color: $grey-3;
    padding: 6px 10px;
    border-radius: 0.25rem;
    
    margin-top: 1rem;

    &:hover{
        background-color: $grey-1;
    }
}

.connect-task-popup-checklist{
    margin-top: 1rem;
}

.connect-task-popup-tasktype{
    margin-top: 1.875rem;
}

.connect-task-popup-dropdown{
    max-width: 20rem;
    margin-top: 0.3rem;

    .tick-icon{
        width: 1rem;
        height: 1rem;
    }
}

.connect-task-popup-assign{
    @include flex($justify-content: flex-start);

    margin-top: 1.875rem;
    gap: 10px;
    cursor: pointer;

    .connect-task-popup-assign-box{
        @include flex(flex-start, stretch, column);
    
    
        .connect-task-popup-assign-status{
            @include flex;
    
            gap: 0.5rem;
    
            .dropdown-arrow{
                @extend %dropdown-arrow;
            }
        }
    }
}


.connect-task-popup-attachments{
    margin-top: 2.5rem;
    
    .button{
        &:hover{
            &.bg-grey{
                background-color: $grey-2;
            }
        }
    }

}

.connect-task-popup-buttons{
    @include flex($justify-content: space-between);

    margin-top: 1rem;

    .button{
        &:hover{
            &.ft-grey{
                color: $black;
            }

            &.br-dark-grey{
                &.bg-transparent{
                    background-color: $grey-1;
                }
            }

            &.br-dark-green{
                &.bg-dark-green{
                    border-color: $green-3;
                    background-color: $green-3;
                }
            }
        }
    }

    .connect-task-popup-buttons-box{
        @include flex;

        gap: 1rem;
    }
}


// Connect new task popup right side part

.connect-task-popup-right{
    max-width: 220px;
    flex-grow: 1;
    padding: 35px 20px 20px;
    background-color: $grey-1;
}

.connect-task-popup-config-list{

    list-style: none;

    .connect-task-popup-config{
        @include flex(flex-start, flex-start);

        margin-bottom: 40px;
        gap: 0.8rem;

        .connect-task-popup-config-box{
            @include flex(flex-start, stretch, column);

            gap: 0.25rem;
            .connect-task-popup-config-innerbox{
                @include flex;

                border: none;
                padding: 0;
                gap: 0.5rem; 
                
                .dropdown-content{
                        
                    &:has(.connect-task-popup-config-priority){
                        padding-left: 0;
                        padding-right: 0;

                        .dropdown-content-header{
                            padding-left: 0.625rem;
                        }
                    }
                }

                .connect-task-popup-config-priority{
                    list-style: none;


                    li{

                        @include flex($justify-content: flex-start);

                        margin-bottom: 0.25rem;
                        gap: 0.75rem;
                        padding: 0.5rem 0.75rem;
                        cursor: pointer;

                        &:hover{
                            background-color: $light-green;

                            span{
                                color: $green-1;
                            }
                        }

                        div{
                            width: 1.25rem;
                            height: 1.25rem;
                            border-radius: 2px;
                        }

                        span{
                            font-size: 0.875rem;
                            color: $grey-base;
                        }
                    }
                }
                
            }
        }


        &.hr-center{
            align-items: center;
        }
    }
}



// Calander

.calander{
    
}

.calander-layout{
    @include border($grey-2);
}

.calander-header{
    padding: 0.25rem 0.5rem;
    font-size: 13px;
    color: $grey-base;
    border-bottom: 1px solid $grey-2;

    .button{
        padding: 0.1rem;
        width: 1rem;
        height: 1rem;
    }
}

.calander-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    gap: 2px;
    padding: 2px;

    span{
        display: inline-block;
        
        &.day-names{
            padding: 4px 5px 6px;
            color: $grey-3;
            font-size: 0.625rem;
            font-weight: 600;
        }

        &.day-numbers{
            aspect-ratio: 1;
            text-align: center;
            padding: 5px;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 2px;
            font-size: 0.75rem;
            color: $grey-blue-2;
            cursor: pointer;

            &:hover{
                background-color: $grey-2;
            }
        }

    }
}